* {
  margin: 0;
}

.header {
  display: flex;
  background-image: url('../../images/trees.jpg');
  background-repeat: repeat;
  background-position: top;
  background-size: 300px 190px;
  height: 152px;
  color: #000;
}

.layer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(230, 221, 221, 0.863);
  border-bottom: 0.5rem double #052709;
  height: 144px;
  width: 100vw;
}

.main-title {
  font-size: 5rem;
  color: #435245;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.header-navLinks {
  padding: 82px 82px 82px 0;
}

a {
  text-decoration: none;
  color: #052709;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 15px;
}

a:hover {
  color: rgba(255, 72, 0, 0.63);
  border-bottom: .1rem solid rgba(107, 69, 18, 0.767);
  font-weight: bolder;
  margin: 14.85px;
}

.fire {
  color: rgba(255, 72, 0, 0.603);
}

@media screen and (max-width: 1100px) {
  .layer{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .main-title {
    position: inline;
    top: 1.7rem; 
    color: #435245; 
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
  }

  .main-title {
    padding: 0;
  }

  .header-navLinks {
    padding: 0 0 10px 0;
  }
}