* {
  margin: 0;
}

.header {
  position: relative;
  background-image: url('../../images/trees.jpg');
  background-repeat: repeat;
  background-position: top;
  background-size: 300px 190px;
  height: 152px;
  color: #000;
}
.layer {
  background-color: rgba(230, 221, 221, 0.863);
  border-bottom: 0.5rem double #052709;
  height: 144px;
}

.main-title {
  /* padding: 30px; */
  position: absolute;
  right: 30px;
  top: 1.9rem;
  font-size: 5rem;
  color: #435245;
  padding-bottom: 2rem;
}

.header-navLinks {
  padding: 82px;
}

a {
  /* padding: 3px; */
  text-decoration: none;
  color: #052709;
  font-size: 1.5rem;
  margin: 15px;
}

a:hover {
  color: rgba(255, 72, 0, 0.63);
  border-bottom: .1rem solid rgba(107, 69, 18, 0.767);
  font-weight: bolder;
}

.fire {
  color: rgba(255, 72, 0, 0.63);
}